# Home Assistant specifics

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.py
!.gitignore
!*.md
!www
!scenes
!scripts
!automations
!groups
!python_scripts
!custom_components

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
configurator.py
.HA_VERSION
.google_maps_location_sharing.cookies
.uuid
configuration.yaml.save
__pycache__/
deps/
home-assistant.log
home-assistant_v2.db
package-lock.json


